In [1]:
#!pip install pandas
#!pip install numpy
import pandas as pd
import numpy as np

In [2]:
truenews = pd.read_csv('C:\\Users\\windos\\Desktop\\fakenews\\true.csv')
fakenews = pd.read_csv('C:\\Users\\windos\\Desktop\\fakenews\\fake.csv')

In [3]:
fakenews.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
truenews.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
fakenews.describe()

,title,text,subject,date
count,23481,23481,23481,23481
unique,17903,17455,6,1681
top,MEDIA IGNORES Time That Bill Clinton FIRED His...,,News,"May 10, 2017"
freq,6,626,9050,46

In [6]:
truenews.describe()

,title,text,subject,date
count,21417,21417,21417,21417
unique,20826,21192,2,716
top,Factbox: Trump fills top jobs for his administ...,(Reuters) - Highlights for U.S. President Dona...,politicsNews,"December 20, 2017"
freq,14,8,11272,182

In [7]:
#Data Cleaning
from nltk.corpus import stopwords
import string

In [8]:
def process_text(s):

    # Check string to see if they are a punctuation
    nopunc = [char for char in s if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Convert string to lowercase and remove stopwords
    clean_string = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    return clean_string

In [10]:
# Tokenize the text :Convert the normal text strings in to a list of tokens (words that we actually want)
#rerun, takes LOOOONG
truenews['True/Fake']='True'
fakenews['True/Fake']='Fake'
# Combine the 2 DataFrames into a single data frame
news = pd.concat([truenews, fakenews])
news["Article"] = news["title"] + news["text"]
news.sample(frac = 1) #Shuffle 100%

,title,text,subject,date,True/Fake,Article
23151,‘Trumping’ America’s Liberal Elite: The Failur...,Kirsten Powers USA TodayOver the past 18 month...,Middle-east,"November 17, 2016",Fake,‘Trumping’ America’s Liberal Elite: The Failur...
3730,Hannity Gets HUMILIATED For Claiming He Never...,Sounds like someone can t handle the truth.In ...,News,"November 20, 2016",Fake,Hannity Gets HUMILIATED For Claiming He Never...
11749,"Peru president, crying 'coup,' signals VPs wou...",LIMA (Reuters) - Peru s President Pedro Pablo ...,worldnews,"December 20, 2017",True,"Peru president, crying 'coup,' signals VPs wou..."
6497,Alabama’s Homophobic Chief Justice Roy Moore ...,Alabama Chief Justice Roy Moore is finally fac...,News,"May 7, 2016",Fake,Alabama’s Homophobic Chief Justice Roy Moore ...
18078,WATCH: SMARTPHONE CAPTURES NEW BOATLOAD OF “Sc...,Ask your liberal friends to tell you more abou...,left-news,"Aug 22, 2017",Fake,WATCH: SMARTPHONE CAPTURES NEW BOATLOAD OF “Sc...
...,...,...,...,...,...,...
10086,LEFTY MEDIA Uses #SolarEclipse To Make Case Fo...,Oh my! The lefty Boston Globe is using the 201...,politics,"Aug 21, 2017",Fake,LEFTY MEDIA Uses #SolarEclipse To Make Case Fo...
1205,Senate confirms Callista Gingrich as U.S. Amba...,WASHINGTON (Reuters) - The U.S. Senate on Mond...,politicsNews,"October 16, 2017",True,Senate confirms Callista Gingrich as U.S. Amba...
178,BREAKING: The First Charges Have Been Filed I...,Special Counsel Robert Mueller appears to have...,News,"October 27, 2017",Fake,BREAKING: The First Charges Have Been Filed I...
12461,"AL SHARPTON Blames Racism For Trump Victory, T...",I think we are in a real moment like Nixon ??...,politics,"Nov 9, 2016",Fake,"AL SHARPTON Blames Racism For Trump Victory, T..."
12616,CROOKED SOROS: Trump Will Win Popular Vote In ...,Very interesting remarks from a guy who is in ...,politics,"Oct 26, 2016",Fake,CROOKED SOROS: Trump Will Win Popular Vote In ...

In [11]:
news['Clean Text'] = news['Article'].apply(process_text)

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/stopwords

  Searched in:
    - 'C:\\Users\\windos/nltk_data'
    - 'C:\\Users\\windos\\anaconda3\\nltk_data'
    - 'C:\\Users\\windos\\anaconda3\\share\\nltk_data'
    - 'C:\\Users\\windos\\anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\windos\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************